.task-wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;

}


@media screen and (max-width:600px) {

    .task-wrapper {
        grid-template-columns: auto auto;
        padding: 10px 0;
    }

}