.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    // margin: 10px 0;

    h1 {
        font-family: 'Montserrat Alternates', sans-serif;
        font-weight: 700;
        font-size: 48px;
        line-height: 50px;
        color: #c85656;
    }

    .add {
        span {
            padding: 20px;
            border: none;
            background: linear-gradient(275deg, #800080, #ff4433);
            color: #f7f7f7;
            border-radius: 50%;
            font-size: 24px;
            transition: all 1.5s ease;

            &:hover {
                background: linear-gradient(275deg, #780578, #c43123);
                color: #ffffff;
            }

            &:active {
                background: linear-gradient(275deg, #610661, #972319);
                color: #ffffff;
            }
        }
    }
}

@media screen and (max-width:600px){
    .header{
        h1{
            font-size: 32px;
        }
    }

    .add{
        span{
            padding: 16px !important;
        }
    }
}